* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ffffff url("/ludi.jpg") center center/cover no-repeat;
}

#container,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    margin: auto;
    width: 80vw;
    /* border: 1px solid lightcyan; */
    /*  */
    align-items: center;
    /*  */
}



header {
    width: 100%;
    background: #ffffff url("/ship.jpeg") top no-repeat;
    padding: 30px 50px;
    color: whitesmoke;
    text-shadow: 3px 3px 14px rgba(0, 0, 0, 1);
}

main {
    min-height: 500px;
    padding-top: 15px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    /*  */
    gap: 5px;
    /*  */
    position: relative;
}

footer {
    width: 100%;
    padding: 30px 10px;
    padding-top: 30px;
    font-size: 12px;
    background-color: rgba(200, 200, 200, 0.75);
}

h1,
h2,
h3 {
    text-align: center;
}

a {
    color: blue;
}

header a {
    text-decoration: none;
    color: whitesmoke;
}

header img {
    top: 50px;
}

#ButtonContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    font-weight: 400;
}

button.selected {
    background-color: rgb(99, 157, 249);
    color: aliceblue;
    font-weight: 600;
}


main input {
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid black;
    color: rgb(99, 157, 249);
    font-size: 1.1rem;
    border: 2px solid rgb(99, 157, 249);
}

main input::placeholder {
    color: rgba(99, 157, 249, 0.5);
}

main input:focus {
    /* border: 1px solid rgb(99, 157, 249); */
    outline: 2px solid rgb(99, 157, 249);
}

#searchBarContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

#searchBarContainer svg:hover,
.resultHeader img:hover {
    cursor: pointer;
}

.previewGroup,
.resultHeader .mapDiv {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.previewGroup {
    width: 238px;
    max-height: 350px;
    margin-left: 22px;
    position: absolute;
    top: 100px;
    /*  */
    gap: 5px;
    /*  */
    padding: 3px 0px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid lightgray;
    color: rgba(0, 0, 0, 0.75);
    /* visibility: visible; */
}

option.previewItem,
select.previewGroup {
    word-wrap: normal;
    padding: 12px;
    white-space: pre-wrap;
    border-bottom: 1px solid #DDD;
}

.previewItem:hover,
select.oneOptionOnly {
    background-color: rgba(99, 157, 249, 0.7);
}

#result_container {
    border: 1px solid darkgray;
    background-color: white;
    min-width: 80%;
}

#result_container>h2 {
    padding: 10px;
}


.resultHeader,
.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resultHeader {
    padding: 75px 30px;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgray;
    max-height: 200px;
}

.resultHeader img {
    max-width: 150px;
}

.resultHeader .mapDiv {
    max-height: 150px;
    max-width: 175px;
    font-size: 0.6rem;
    /*  */
    gap: 13px;
    /*  */
}

.card {
    padding: 20px 12px;
}

.card h3 {
    text-align: left;
}

.card:nth-child(odd) {
    background-color: rgb(220, 220, 220);
}

.card:nth-child(even) {
    background-color: white;
}

.right {
    padding-left: 35px;
}

.right img {
    max-width: 125px;
}


/* scrollbar */
.previewGroup::-webkit-scrollbar,
.mapDiv::-webkit-scrollbar {
    width: 3px;
    /* width of the entire scrollbar */
}

.previewGroup::-webkit-scrollbar-track,
.mapDiv::-webkit-scrollbar-track {
    background: lightgray;
    ;
    /* color of the tracking area */
}

.previewGroup::-webkit-scrollbar-thumb,
.mapDiv::-webkit-scrollbar-thumb {
    background-color: black;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgb(99, 157, 249);
    /* creates padding around scroll thumb */
}

/* scrollbar */